{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    {% for key, val in value %}
        <div>
            <a href="{% path  val.imageFile, 'reference' %}">ファイル{{ key + 1 }} </a>
            <p>{{val.imageFileSource}}</p>
        </div>
    {% endfor %}
{% endblock %}